<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Stump</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Stump</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="switchActivePart('settings', 'settings');">Settings</a></li>
            <li class="navbar-collapse collapse">
              <a ng-click="switchActivePart('projects', 'projects');">Projects</a>
            </li>
            <li class="navbar-collapse collapse">
              <a ng-click="switchActivePart('tasks', 'tasks');">Tasks</a>
            </li>
            <li class="navbar-collapse collapse">
              <a ng-click="switchActivePart('users', 'users');">Users</a>
            </li>
            <li class="navbar-collapse collapse">
              <a ng-click="logout();">Logout</a>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid inside-full-height">
      <div class="row inside-full-height">
        <div class="col-sm-3 col-md-2 sidebar no-float">
          <ul class="nav nav-sidebar">
            <li>
              <a ng-click="switchActivePart('projects', 'projects');">Projects</a>
            </li>
            <li>
              <a ng-click="switchActivePart('tasks', 'tasks');">Tasks</a>
            </li>
            <li>
              <a ng-click="switchActivePart('settings', 'settings');">Settings</a>
            </li>
            <li>
              <a ng-click="switchActivePart('users', 'users');">Users</a>
            </li>
          </ul>
        </div>
        <div class="main slide-animate-container col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 inside inside-full-height no-float" ng-app="DashboardChanger">
          <div class="slide-animate" ng-include src="'modules/'+dashboardPartActive+'/views/'+dashboardHTMLActive+'.html'"></div>
        </div>
        <div class="errorShow" ng-class="{fade: fadeout}" id="errorShow">
          {{error}}
        </div>
      </div>
    </div>

</body>
</html>