< class="project" ng-controller="ProjectController">
    <div class="projectProperties">
        <h1>{{selProject.title}}</h1>
        <div style="float: right; width: 150px;">
            <div ng-class="{'btn-success': selProject.status == 'CLOSED', 'btn-primary': selProject.status == 'OPEN', 'btn-info': selProject.status == 'IN_PROGRESS'}">
                <h4 style="padding: 10px;">{{selProject.status}}</h4>
            </div>
            <p>Users on this project:</p>
            <p ng-repeat="user in selTask.users">
                <span>{{user.name}} ({{user.email}}) [{{user.role}}]</span>
            </p>
        </div>
        <div class="description">{{selProject.description}}</div>
        <div>
            <button ng-click="changeProjectStatus('OPEN');" class="btn btn-primary">OPEN</button>
            <button ng-click="changeProjectStatus('IN_PROGRESS');" class="btn btn-info">IN PROGRESS</button>
            <button ng-click="changeProjectStatus('CLOSED');" class="btn btn-success">CLOSE</button>
        </div>
        <h2>Project's tasks:</h2>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Owner</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="task in selProject.tasks">
                <td><a ng-click="getTaskView(task);">{{task.title}}</td>
                <td>{{task.description}}</td>
                <td>{{task.owner.name}}</td>
                <td ng-class="{'btn-success': task.status == 'CLOSED', 'btn-info': task.status == 'OPEN', 'btn-warning': task.status == 'REOPENED'}">{{task.status}}</td>
            </tr>
        </table>
    </div>

    <button class="btn btn-info btn-lg" ng-click="addCreateTaskWindow();" ng-if="loginUser.role != 'DEVELOPER'">Create Task</button><br/>
    <div id="createTask" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new task</h4>
                </div>

                <div class="modal-body">
                    <form>
                        Project: {{selProject.title}}<br/>
                        Title: <input type="text" ng-model="title"/><br/>
                        Description: <textarea ng-model="description"></textarea><br/>
                        Type: <select ng-model="type">
                            <option ng-repeat="type in TASK_TYPES" value="{{type}}">{{type}}</option>
                        </select><br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="float: left">
                        <button class="btn pull-left" ng-click="createTask(title, description, selProject.id, type);" data-dismiss="modal">Create Task</button><br/>
                    </div>
                    <div style="float: right">
                        <button class="btn pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-info btn-lg" ng-click="addChangeProjectWindow();" ng-if="loginUser.role == 'PM' || loginUser.role == 'ADMIN'">Change Project</button><br/>
    <div id="changeProject" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change project</h4>
                </div>

                <div class="modal-body">
                    <form>
                        Title: <input type="text" ng-model="title" value="{{selProject.title}}"/><br/>
                        Description: <textarea ng-model="description">{{selProject.description}}</textarea><br/>

                    </select><br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="float: left">
                        <button class="btn pull-left" ng-click="changeProject(title, description, selProject.id, status, users);" data-dismiss="modal">Create Task</button><br/>
                    </div>
                    <div style="float: right">
                        <button class="btn pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
   </div>

</div>