body {
	width: 100%;
	height: 100%;
	background-size: 100% auto;
}

html {
	margin: 0px;
	height: 100%;
}

.mycontainer {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.inside-full-height{
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.loginWindow {
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}

multipicker {
    display: block;
    width: 400px;
    height: 200px;
}

.multipicker-selected {
    display: block;
    overflow: hidden;
    width: 100%;
}
.multipicker-not-selected {
    display: block;
    overflow: hidden;
    width: 100%;
}

.multipicker-selector-wrapper {
    display: inline-block;
    width: 48%;
    height: 100%;
    overflow-y: auto;
}

.multipicker-header {
    color: #CCCCCC;
}

.multipicker-item {
    cursor: pointer;
    width: 100%;
}

.multipicker-item .icon {
    visibility: hidden;
    float: right;
}

.multipicker-item:hover .icon {
    visibility: visible;
}

.nav.navbar-nav.navbar-right a,
.project-title {
    cursor: pointer;
}

.project-closed {
    color: black;
}

.project-open {
    color: darkorange;
}

.project-in-progress {
    color: dodgerblue;
}

.project-resolved {
    color: lightgreen;
}

.project-reopened {
    color: darkorange;
}

.task-closed {
    color: darkgreen;
}

.task-open {
    color: darkorange;
}

.task-in-progress {
    color: dodgerblue;
}

.task-review {
    color: lightgreen;
}

.task-verifying {
    color: darkorange;
}

.task-testing {
    color: darkmagenta;
}
