body {
	width: 100%;
	height: 100%;
	background-size: 100% auto;
	background-color: #999999;
}

html {
	margin: 0px;
	height: 100%;
	background-color: #999999;
}

.mycontainer {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.inside-full-height{
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.loginWindow {
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
}