<div class="project">
    <div class="header">
        Example Project #1 (title)
    </div>
    <div class="projectProperties">
        Description: This is an example project.<br/>
        Owner: admin<br/>
        Status: Open<br/>
    </div>
    <div class="nav nav-sidebar tasks">
        Task #1
        <div class="task">
            Owner: user1<br/>
            Title: TaskNumber1<br/>
            <a href="/task">Task #2</a><br/>
        </div>
        Task #2
        <div class="task">
            Owner: admin<br/>
            Title: TaskNumber1<br/>
            <a href="/task">Task #2</a><br/>
        </div>
    </div>
</div>