<div class="task">
    <div class="header">
        Example Task #1 (title)
    </div>
    <div class="taskProperties">
        Description: This is an example task.<br/>
        Owner: admin<br/>
        Status: Open<br/>
    </div>
    <div class="nav nav-sidebar comments">
        Comment #1
        <div class="comment">
            Owner: user1<br/>
            Title: CommentNumber1<br/>
            Text: Man, this is a really good task! Would you mind if I'd do it for you?<br/>
        </div>
        Comment #2
        <div class="comment">
            Owner: admin<br/>
            Title: CommentNumber1<br/>
            Text: Sure, why not.<br/>
        </div>
    </div>
</div>