<div>
    <div class="modal-content loginWindow">
        <div class="modal-header">
            <img src="resources/logo.png" alt="Stump"/>
        </div>
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form name="form" ng-submit="login()" role="form">
            <div class="form-group">
                <label for="username">Username</label>
                <i class="fa fa-key"></i>
                <input type="text" name="username" id="username" class="form-control" ng-model="username" placeholder="Type your username here" required />
                <span ng-show="username == ''" class="help-block">Username is required</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <i class="fa fa-lock"></i>
                <input type="password" name="password" id="password" class="form-control" ng-model="password" placeholder="Type your password here" required />
                <span ng-show="password == ''" class="help-block">Password is required</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-danger">Login</button>
            </div>
        </form>
        <div class="modal-footer"></div>
    </div>
</div>