<div class="users">
    <div class="userList">
        Users:
        <ul>
            <li ng-repeat="user in $scope.users">{{user.name}}</li>
        </ul>
    </div>
    <form>
        Add new user<br/>
        Username: <input type="text" ng-model="name"/><br/>
        Password: <input type="password" ng-model="password"/><br/>
        E-mail: <input type="text" ng-model="email"/><br/>
        Role: <select ng-model="role">
            <option value="ADMIN">ADMIN</option>
            <option value="PM">PM</option>
            <option value="DEVELOPER" selected>DEVELOPER</option>
            <option value="TESTER">TESTER</option>
        </select><br/>
        <button class="btn" ng-click="addUser(name, password, email, role);">Add user</button><br/>
    </form>
</div>