<div class="tasks" ng-controller="TaskController">
    <div class="taskList">
        <h1>Tasks</h1>
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Owner</th>
                <th>Description</th>
                <th>Status</th>
                <th>WorkTime</th>
                <th ng-if="loginUser.role == 'ADMIN' || loginUser.role == 'PM'">Delete</th>
            </tr>
            <tr ng-repeat="task in tasks" ng-init="getTasks();">
                <td><a ng-click="getTaskView(task);">{{task.title}}</a></td>
                <td>{{task.owner.name}}</td>
                <td>{{task.description}}</td>
                <td ng-class="taskStatusLayout[task.status]">{{task.status}}</td>
                <td>{{Math.floor(task.workTime/60)}}:{{task.workTime%60}}</td>
                <td ng-if="loginUser.role == 'ADMIN' || loginUser.role == 'PM'"><button class="btn" ng-click="deleteTask(project);">Delete</button></td>
            </tr>
        </table>
    </div>
    <button class="btn btn-info" ng-click="addCreateTaskWindow();" ng-if="loginUser.role != 'DEVELOPER'">Create Task</button><br/>
    <div id="createTask" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create new task</h4>
                </div>

                <div class="modal-body">
                    <form>
                        Project: <select ng-model="projectId" ng-init="getProjects();">
                            <option ng-repeat="project in projects" value="{{project.id}}">{{project.title}}</option>
                        </select><br/>
                        Title: <input type="text" ng-model="title"/><br/>
                        Description: <textarea ng-model="description"></textarea><br/>
                        Type: <select ng-model="type">
                        <option ng-repeat="type in TASK_TYPES" value="{{type}}">{{type}}</option>
                    </select><br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="float: left">
                        <button class="btn pull-left" ng-click="createTask(title, description, projectId, type); getTasks();" data-dismiss="modal">Create Task</button><br/>
                    </div>
                    <div style="float: right">
                        <button class="btn pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>