<div class="project" ng-controller="TaskController">
    <div class="projectProperties">
        <h1>{{selTask.title}}</h1>
        <p>{{selTask.description}}</p>
        <h2>Users on this task:</h2>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Role</th>
            </tr>
            <tr ng-repeat="user in selTask.users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.role}}</td>
            </tr>
        </table>
        <h2>{{selTask.title}}'s comments:</h2>
        <div ng-repeat="comment in selTask.comments">
            <div class="modal-content">
                <div class="modal-header">
                    {{comment.author.name}}:
                </div>
                <div class="modal-body">
                    {{comment.text}}
                </div>
            </div>
        </div>
    </div>

</div>