<div class="task" ng-controller="TaskController">
    <div class="taskProperties">
        <h1>{{selTask.title}}</h1>
        <div class="row">
            <div class="leftpad col-sm-9 col-md-10 inside no-float">
                <div class="description">{{selTask.description}}</div>
                <button class="btn btn-info" ng-click="addChangeTaskWindow();" ng-if="loginUser.role != 'DEVELOPER'">Change Task</button><br/>
                <h2>{{selTask.title}}'s comments:</h2>
                <div ng-repeat="comment in selTask.comments">
                    <div >
                        <div class="modal-header bg-info" style="padding: 20px;">
                            <div style="float: left">{{comment.author.name}}:</div>
                            <div style="float: right">{{convertToDate(comment.timestamp);}}</div>
                        </div>
                        <div class="modal-body">
                            {{comment.text}}
                        </div>
                        <div ng-repeat="subcomment in comment.comments" style="margin-left: 5px">
                            <div class="modal-header bg-info" style="padding: 20px;">
                                <div style="float: left">{{subcomment.author.name}}:</div>
                                <div style="float: right">{{convertToDate(subcomment.timestamp);}}</div>
                            </div>
                            <div class="modal-body">
                                {{subcomment.text}}
                            </div>
                        </div>
                        <a ng-click="showCommentDiv();" ng-if="showAddSubComment == false">New Sub Comment</a>
                        <div class="modal-content" ng-if="showAddSubComment == true" style="padding: 20px;">
                            Name: {{loginUser.name}}<br/>
                            Text: <br/><textarea ng-model="text" class="newComment modal-content"></textarea><br/>
                            <a ng-click="addSubComment(comment.id, text);" style="float:left">Add Sub Comment</a>
                            <a ng-click="unshowSubCommentDiv();" style="float: right">Cancel</a>
                        </div>
                    </div>
                    <a ng-click="deleteComment(comment)">Delete Comment</a>
                </div>
                <button class="btn btn-info" ng-click="showCommentDiv();" ng-if="showAddComment == false">New Comment</button>
                <div class="modal-content" ng-if="showAddComment == true" style="padding: 20px;">
                    Name: {{loginUser.name}}<br/>
                    Text: <br/><textarea ng-model="text" class="newComment modal-content"></textarea><br/>
                    <a ng-click="addComment(selTask.id, text);" style="float:left">Add comment</a>
                    <a ng-click="unshowCommentDiv();" style="float: right">Cancel</a>
                </div>
            </div>
            <inp class="col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10 no-float">
                <div>
                    <select ng-class="taskStatusLayout[selTask.status]" ng-model="selTask.status" ng-change="changeTaskStatus(selTask.status);">
                        <option ng-repeat="status in TASK_STATUSES" class="btn btn-mini" ng-class="taskStatusLayout[status]"><h4 style="padding: 10px;">{{status}}</h4></option>
                    </select>
                </div>
                <p>Owner: {{selTask.owner.name}}</p>
                <div>Working Time: {{Math.floor(selTask.workTime/60)}}:{{selTask.workTime%60}}<br/>
                    <input type="number" ng-model="minute" min="0" max="1440" value="0"/>:
                    <input type="number" ng-model="second" min="0" max="59" value="0"/>
                </div>
                <button ng-click="addWorkTime(minute*60+second);" class="btn btn-primary">Add workTime</button>
            </div>

        </div>

    </div>

    <!-- Change Task modal window -->
    <div id="changeTask" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change project</h4>
                </div>

                <div class="modal-body">
                    <form>
                        Title: <input type="text" ng-model="selTask.title"/><br/>
                        Description: <textarea ng-model="selTask.description"></textarea><br/>
                        Status: <select ng-model="selTask.status">
                        <option ng-repeat="tStatus in TASK_STATUSES" value="{{tStatus}}">{{tStatus}}</option>
                    </select><br/>
                        Owner: <select ng-model="selTask.owner.id" ng-init="getUsers()">
                        <option ng-repeat="user in users" value="{{user.id}}">{{user.name}}</option>
                    </select><br/>
                        </select><br/>
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="float: left">
                        <button class="btn pull-left" ng-click="changeTask(selTask.id, selTask.title, selTask.description, selTask.owner.id, selTask.status);" data-dismiss="modal">Change Task</button><br/>
                    </div>
                    <div style="float: right">
                        <button class="btn pull-right" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>